.page{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  align-items: center;
  height: 100vh;
  padding:4em;
  row-gap: 2em;
}
.todoTask{
  min-width: 32em;
  padding: 0.5em 2em;
  background-color:rgb(156, 38, 38) ;
  color: white;
  font-weight: 400;
}
.added{
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}