@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');

body{
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Space Grotesk', sans-serif; */
    background-color: rgb(242, 242, 242);
}
.formDetail{
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 0.7em;
    min-width: 23em;

}

.input{
    padding: 5px;
    border: 2px solid rgb(224, 221, 221);
    background-color: white;
    font-weight: 400;
}
