.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    width: 100vw;
}
.Bigcontainer{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding:3em 2em;
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
}