.months{
    display: flex;
    flex-direction: column;
    color: white;
    text-transform: capitalize;
    align-items: center;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
  background-color: rgb(31, 31, 31);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  width: 6em;
}
.mon{
   font-size: 0.9em;
   font-weight: 600;
}
.year{
    font-size: 0.6em;
}
.din{
    font-size: 1.5em;
}