.Main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  row-gap: 1em;
}
.Main.up{
  row-gap: 0em;
}
.addedDetail{
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  color:black;
  
}
.items{
  background-color: white;
  width: 35em;
  padding: 10px 20px;
  border-radius: 6px;
}
.inside{
  border: 1.6px solid rgb(219, 219, 219) ;
  padding: 8px;
  text-transform: capitalize;
}
